<ion-content [fullscreen]="true">
  <div id="container">
    <!-- Left Navigation Pane -->
    <div class="nav-pane">
      <ion-button expand="full" (click)="requestReadScope()">Request Read Access</ion-button>
      <ion-button expand="full" (click)="requestWriteScope()">Request Write Access</ion-button>
      <ion-button expand="full" (click)="requestAllScope()">Request All Access</ion-button>
      <ion-button expand="full" color="danger" (click)="logout()">Logout</ion-button>
      <div class="scopes">scopes: {{scopes}}</div>

      <hr>

      <!-- New Section for API Endpoints -->
      <ion-button expand="full" (click)="tryReadEndpoint()">Try Read Endpoint</ion-button>
      <ion-button expand="full" (click)="tryWriteEndpoint()">Try Write Endpoint</ion-button>
    </div>

    <div class="message">{{responseData}}</div>

  </div>
</ion-content>
